p a{
	font-weight: bold;
	/*text-shadow: 1px 1px #EFEFEF, 2px 2px #CCC;*/
	word-wrap: break-word;
}


article h2{
	text-shadow: 1px 1px #EFEFEF, 2px 2px #CCC;
}
article h2::before{
	content:"#";
	color:red;
}

article a h2::before{
	content: "";
}

article h3 em::before{
	content:"#";
	color: #365899;
}
article h3 em{
	color: #365899;
	font-weight: 400;
	font-style: normal;
}
article h3 em:hover {
	font-decoration: uderline;
}

article a.hashtag::before{
	content:"#";
	color: #365899;
}
article a.hashtag{
	color: #365899;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
}
article a.hashtag:hover {
	font-decoration: uderline;
}





.btn-tag {
	color: #fff;
	background-color: #c6cbe9;

	padding: 0px 5px;
	font-size: 80%;
	line-height: 1.5;
	border-radius: 4px;

	font-weight: 500;
}
.btn-tag:hover,
.btn-tag:focus {
	background-color: #c0ddc7;	
	text-decoration: none;
}

.tag-color{
	color: #c6cbe9;
}

.tag-big{
	font-size: 120%;
}

a.category:hover,
a.category:focus {
	text-decoration: none;		
}

red{
	color: red;
}
blue{
	color: blue;
}
green{
	color: green;
}
yellow{
	color: yellow;
}
gray{
	color: gray;
}

li em{
	color: gray;
}
