{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
	/*	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');*/

	</script>
	<!-- End Google Analytics -->


	{% comment %}
		for google analytics
	{% endcomment %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108468383-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '{{site.google_analytics}}');
	</script>

  <script>
	function updatePageView(cnt) {
		var txt = '';
		if (cnt === 0) {
			txt = 'WoW! You seems to be the first visitor to this page! Thanks for visiting! :thumbsup:';
		} else if (cnt === 1) {
			txt = 'You\'re the 2nd visitor to this page. Come earlier next time! :smirk:';
		} else if (cnt === 2) {
			txt = 'You\'re the 3rd visitor to this page. Not bad! :grin:';
		} else if (cnt < 10) {
			txt = 'You\'re the ' + (cnt + 1) + 'th visitor to this page. Thanks for support! :kissing_closed_eyes:';
		} else if ((cnt + 1) % 100 === 0) {
			txt = 'You seems to be the ' + (cnt + 1) + 'th visitor to this page! Lucky you! :open_mouth:';
		} else if (cnt < 200) {
			txt = 'You\'re the ' + (cnt + 1) + 'th visitor to this page.';
		} else if (cnt < 1000) {
			txt = 'You\'re the ' + (cnt + 1) + 'th visitor to this page. Why didn\'t come earlier to visit me! :rage:';
		} else {
			txt = 'You\'re the ' + (cnt + 1) + 'th visitor to this page. I guess I get popular recently. :satisfied:';
		}
		$('#page-view').text(txt);
	}
	function processPageView(rows) {
		if (rows === undefined) {
			return;
		}
		var myPath = window.location.pathname;
		var len = rows.length;
		var cnt = 0;
		for (var i = 0; i < len; ++i) {
			var thatPath = rows[i][0];
			if (thatPath === myPath || thatPath.slice(0, thatPath.indexOf('?')) === myPath) {
				cnt += parseInt(rows[i][1]);
			}
		}
		updatePageView(cnt);
	}

	if($('#page-view').length > 0){
		
		$.ajax({
			url: 'https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A163065096&start-date=30daysAgo&end-date=today&metrics=ga%3Ausers&dimensions=ga%3ApagePath',
			dataType: 'jsonp',
			timeout: 1000*30,
			success: function(data){
				processPageView(data.rows);
				
			},
			error: function(){
				// if fail to get up-to-date data from GAE, get cached local version
				console.log('Failed to get page view from GAE!');
			}
		});
	}
  </script>
{% endif %}
