---
layout: default
tilte: Archive
---
<style>
	li{
		list-style-type: none;
	}
	small {
		color: grey;
	}
	h3 {
		margin-top: 10px;
	}
	.gray{
		color: #b3b3b3;
	}

</style>
 <h1> 2017 </h1>
 <br>
 {% for post in site.posts %}
	 <li>
		 <small>{{ post.date | date: '%B %d' }}</small>
		 <h3>
			 <a href="{{ post.url }}"> {{ post.title }} </a>
		 </h3>
		 <h4>
			 <a class="category gray" href="/archive/category/#{{post.category}}">
				 <i class="fa fa-bookmark" aria-hidden="true"></i>
			 &nbsp;
				 {{post.category}}
			 </a> 
		 </h4>

		 <span>
			 <i class="fa fa-tags tag-color" aria-hidden="true"></i>
			 {% for tag in post.tags %}
			 <a class="tag btn-tag" href="/blog/tag/#{{ tag | slugify }}">
				 {{ tag }}
			 </a>
			 &nbsp;
			 {% endfor %}
		 </span>
	 </li>

	 <hr>
 {% endfor %}

